.App {
  text-align: center;
}

html, body, #root, .container-fluid {
  height: 100%;
}

.navbar-form button {
  margin: 0 10px;
}

.content {
  height: 90%;
}

.mainPanel {
  height: 100%;
}

.spacesList, .scenesList, .deviceList {
  height: 100%;
}

.listHeader {
  padding: 5px; 
}

.listHeader button {
  float: right;
}

.listHeader .listTitle {
  display: inline-block;
  font-size: 20px;
}

.deviceList .device {
  padding: 5px;
}

.deviceList .device .deviceName {
  margin: 0 20px;
  font-size: 16px;
}
