.App {
    text-align: center;
}

html,
body,
#root,
.container-fluid {
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 1.5vmin;
}

#app {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.navbar-form button {
    margin: 0 10px;
}

.content {
    /* height: 90%; */
    display: flex;
    flex: 1;
    align-items: stretch;
}

.mainPanel {
    /* height: 100%; */
}

.spacesList,
.scenesList,
.deviceList {
    height: 100%;
}

.listHeader {
    padding: 5px;
}

.listHeader button {
    float: right;
}

.listHeader .listTitle {
    display: inline-block;
    font-size: 1.75vmin;
}

.deviceList .device {
    padding: 5px;
}

.deviceList .device .deviceName {
    margin: 0 20px;
    font-size: 1.5vmin;
}

.listSelectable:hover {
    cursor: pointer;
    background-color: #dff0d8;
}

.device .labels{
    float: right;
    text-transform: capitalize;
    padding: 5px 15px 5px 15px;
    margin-right: 15px;
}

.deviceList .activateScene{
    float: right;
    margin-bottom: 5px;
}

.list-group{
    margin-top: 5px;
}

.containerDiv{
    display: inline-block;
    width: 100%;
    color: #406f8c;
    font-weight: 600;
}

.info{
    float: left;
    margin-left:10px;
}

.sceneInfo{
    float: right;
    margin-right: 10px;
}

.deviceInfoUsageLabel {
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.35), 0 0 10px 5px rgba(255, 255, 255, 0.75);
}

/*modal styles*/
.successModal{
    text-align: center;
}

.successMessage{
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    color: #69a85c;
}

.alertMessage{
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    color: #a94442;
}

.modalHeader{
    background-color: #dff0d8;
}

.glyphIcon{
    font-size: 35px;
}

.modalFooter{
    text-align: center;
    background-color: #dff0d8;
}

.modalCloseButton{
    padding: 10px;
    font-size: 15px;
}

.alertModalFooter{
    text-align: center;
    background-color: #ebccd1;
}

.alertModalHeader{
    background-color: #ebccd1;
}